@font-face {
    font-family: 'a_charming_font_expandedRg';
    src: url('./Font/achafexp-webfont.woff2') format('woff2'),
         url('./Font/achafexp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(./images/MicrosoftTeams-image.png);
    background-size: cover;
   
    
}



#logo{
    width: 200px;
    position: absolute;
    left: 0%;
}

#icons{
    font-size: 25px;
    color: rgb(131, 8, 8);
}
#icon{
    font-size: 25px;
    color: rgb(131, 0, 0);
}

h2{
    color: rgb(131, 0, 0);
    text-align: center;
    font-family:'a_charming_font_expandedRg';
    font-size: 110px;
    text-decoration: solid;
    position:absolute;
    margin-top: 8%;
    right: 50%;
}

.text h1{ 
    color: rgb(247, 247, 247);
    text-align:center;
    font-size:55px;
    width: 55%;
    font-style: italic;
    font-family:'a_charming_font_expandedRg' ;
    position: absolute;
    right: 30px;
    bottom: 10%;
    justify-content: space-between;
    margin-top: 20%;
    

}

.vidéo{
    margin-top:0%;
    font-size: 0%;
    justify-content: space-between;
    right: 50px;
    margin-left: 15%;
    margin-top: 18% ;
    position: relative;
}


header{
    text-align: center;
    font-size: 80px;
    margin: 0%;
    margin-top: 0px; 
}

.section {
   
    font-size: 40px;
    width: 45%;
    min-width: 1200px;
    max-width: 500px;
}

button {
    font-size: 20px;
    border-radius: 30px;
    color: white;
    /* border-style: none; */
    background-color: rgba(128, 128, 128, 0.39);
    
}

nav{
    text-align: center;
    margin: 0;
    margin-top: 0px;
    color: white;
}

button a, a:visited{
    color: white;
    text-decoration: none;
    
}
#start{
    color: red;
    background-color: rgb(238, 238, 238);
    font-family: 'a_charming_font_expandedRg';
    font-size: 90px;
    position: absolute;
    right: 20%;
    bottom: -15%;
   
}
#chance{
    font-family: 'a_charming_font_expandedRg';
    font-size: 90px;
    position: absolute;
    right: 50px;
    

}
#ticket{
    font-size: 35px;
    position: absolute;
    right: 0%;
}
footer{
    align-items: end;
    text-align: center;
    margin: 0;
    font-size: 70px;
    margin-top: 20%;
}

 
 